/*
 * SASS style generator for multiple canvas layout
 */

// configuration START
$image_width: 400
$image_height: 400
$rows: 1
$columns: 1
// configuration END

$canvas_width: $image_width / $columns
$canvas_height: $image_height / $rows
$leftPad: 10
$topPad: 120


@for $row from 0 through $rows - 1
  @for $col from 0 through $columns - 1
    $inverseCounter: abs($rows - 1 - $row)
    $left: $leftPad + $canvas_width * $col
    $top: $topPad + $canvas_height * $inverseCounter
    #frame#{$row}#{$col}
      position: absolute
      left: #{$left}px
      top: #{$top}px
