/* SASS style generator for multiple canvas layout
 */
#gpuframe00 {
  position: absolute;
  left: 10px;
  top: 100px; }

#gpuframe01 {
  position: absolute;
  left: 110px;
  top: 100px; }

#gpuframe02 {
  position: absolute;
  left: 210px;
  top: 100px; }

#gpuframe03 {
  position: absolute;
  left: 310px;
  top: 100px; }

#gpuframe04 {
  position: absolute;
  left: 410px;
  top: 100px; }

#gpuframe05 {
  position: absolute;
  left: 510px;
  top: 100px; }

#gpuframe06 {
  position: absolute;
  left: 610px;
  top: 100px; }

#gpuframe07 {
  position: absolute;
  left: 710px;
  top: 100px; }

#gpuframe08 {
  position: absolute;
  left: 810px;
  top: 100px; }

#gpuframe09 {
  position: absolute;
  left: 910px;
  top: 100px; }

#gpuframe10 {
  position: absolute;
  left: 10px;
  top: 200px; }

#gpuframe11 {
  position: absolute;
  left: 110px;
  top: 200px; }

#gpuframe12 {
  position: absolute;
  left: 210px;
  top: 200px; }

#gpuframe13 {
  position: absolute;
  left: 310px;
  top: 200px; }

#gpuframe14 {
  position: absolute;
  left: 410px;
  top: 200px; }

#gpuframe15 {
  position: absolute;
  left: 510px;
  top: 200px; }

#gpuframe16 {
  position: absolute;
  left: 610px;
  top: 200px; }

#gpuframe17 {
  position: absolute;
  left: 710px;
  top: 200px; }

#gpuframe18 {
  position: absolute;
  left: 810px;
  top: 200px; }

#gpuframe19 {
  position: absolute;
  left: 910px;
  top: 200px; }

#gpuframe20 {
  position: absolute;
  left: 10px;
  top: 300px; }

#gpuframe21 {
  position: absolute;
  left: 110px;
  top: 300px; }

#gpuframe22 {
  position: absolute;
  left: 210px;
  top: 300px; }

#gpuframe23 {
  position: absolute;
  left: 310px;
  top: 300px; }

#gpuframe24 {
  position: absolute;
  left: 410px;
  top: 300px; }

#gpuframe25 {
  position: absolute;
  left: 510px;
  top: 300px; }

#gpuframe26 {
  position: absolute;
  left: 610px;
  top: 300px; }

#gpuframe27 {
  position: absolute;
  left: 710px;
  top: 300px; }

#gpuframe28 {
  position: absolute;
  left: 810px;
  top: 300px; }

#gpuframe29 {
  position: absolute;
  left: 910px;
  top: 300px; }

#gpuframe30 {
  position: absolute;
  left: 10px;
  top: 400px; }

#gpuframe31 {
  position: absolute;
  left: 110px;
  top: 400px; }

#gpuframe32 {
  position: absolute;
  left: 210px;
  top: 400px; }

#gpuframe33 {
  position: absolute;
  left: 310px;
  top: 400px; }

#gpuframe34 {
  position: absolute;
  left: 410px;
  top: 400px; }

#gpuframe35 {
  position: absolute;
  left: 510px;
  top: 400px; }

#gpuframe36 {
  position: absolute;
  left: 610px;
  top: 400px; }

#gpuframe37 {
  position: absolute;
  left: 710px;
  top: 400px; }

#gpuframe38 {
  position: absolute;
  left: 810px;
  top: 400px; }

#gpuframe39 {
  position: absolute;
  left: 910px;
  top: 400px; }

#gpuframe40 {
  position: absolute;
  left: 10px;
  top: 500px; }

#gpuframe41 {
  position: absolute;
  left: 110px;
  top: 500px; }

#gpuframe42 {
  position: absolute;
  left: 210px;
  top: 500px; }

#gpuframe43 {
  position: absolute;
  left: 310px;
  top: 500px; }

#gpuframe44 {
  position: absolute;
  left: 410px;
  top: 500px; }

#gpuframe45 {
  position: absolute;
  left: 510px;
  top: 500px; }

#gpuframe46 {
  position: absolute;
  left: 610px;
  top: 500px; }

#gpuframe47 {
  position: absolute;
  left: 710px;
  top: 500px; }

#gpuframe48 {
  position: absolute;
  left: 810px;
  top: 500px; }

#gpuframe49 {
  position: absolute;
  left: 910px;
  top: 500px; }

#gpuframe50 {
  position: absolute;
  left: 10px;
  top: 600px; }

#gpuframe51 {
  position: absolute;
  left: 110px;
  top: 600px; }

#gpuframe52 {
  position: absolute;
  left: 210px;
  top: 600px; }

#gpuframe53 {
  position: absolute;
  left: 310px;
  top: 600px; }

#gpuframe54 {
  position: absolute;
  left: 410px;
  top: 600px; }

#gpuframe55 {
  position: absolute;
  left: 510px;
  top: 600px; }

#gpuframe56 {
  position: absolute;
  left: 610px;
  top: 600px; }

#gpuframe57 {
  position: absolute;
  left: 710px;
  top: 600px; }

#gpuframe58 {
  position: absolute;
  left: 810px;
  top: 600px; }

#gpuframe59 {
  position: absolute;
  left: 910px;
  top: 600px; }

#gpuframe60 {
  position: absolute;
  left: 10px;
  top: 700px; }

#gpuframe61 {
  position: absolute;
  left: 110px;
  top: 700px; }

#gpuframe62 {
  position: absolute;
  left: 210px;
  top: 700px; }

#gpuframe63 {
  position: absolute;
  left: 310px;
  top: 700px; }

#gpuframe64 {
  position: absolute;
  left: 410px;
  top: 700px; }

#gpuframe65 {
  position: absolute;
  left: 510px;
  top: 700px; }

#gpuframe66 {
  position: absolute;
  left: 610px;
  top: 700px; }

#gpuframe67 {
  position: absolute;
  left: 710px;
  top: 700px; }

#gpuframe68 {
  position: absolute;
  left: 810px;
  top: 700px; }

#gpuframe69 {
  position: absolute;
  left: 910px;
  top: 700px; }

#gpuframe70 {
  position: absolute;
  left: 10px;
  top: 800px; }

#gpuframe71 {
  position: absolute;
  left: 110px;
  top: 800px; }

#gpuframe72 {
  position: absolute;
  left: 210px;
  top: 800px; }

#gpuframe73 {
  position: absolute;
  left: 310px;
  top: 800px; }

#gpuframe74 {
  position: absolute;
  left: 410px;
  top: 800px; }

#gpuframe75 {
  position: absolute;
  left: 510px;
  top: 800px; }

#gpuframe76 {
  position: absolute;
  left: 610px;
  top: 800px; }

#gpuframe77 {
  position: absolute;
  left: 710px;
  top: 800px; }

#gpuframe78 {
  position: absolute;
  left: 810px;
  top: 800px; }

#gpuframe79 {
  position: absolute;
  left: 910px;
  top: 800px; }

#gpuframe80 {
  position: absolute;
  left: 10px;
  top: 900px; }

#gpuframe81 {
  position: absolute;
  left: 110px;
  top: 900px; }

#gpuframe82 {
  position: absolute;
  left: 210px;
  top: 900px; }

#gpuframe83 {
  position: absolute;
  left: 310px;
  top: 900px; }

#gpuframe84 {
  position: absolute;
  left: 410px;
  top: 900px; }

#gpuframe85 {
  position: absolute;
  left: 510px;
  top: 900px; }

#gpuframe86 {
  position: absolute;
  left: 610px;
  top: 900px; }

#gpuframe87 {
  position: absolute;
  left: 710px;
  top: 900px; }

#gpuframe88 {
  position: absolute;
  left: 810px;
  top: 900px; }

#gpuframe89 {
  position: absolute;
  left: 910px;
  top: 900px; }

#gpuframe90 {
  position: absolute;
  left: 10px;
  top: 1000px; }

#gpuframe91 {
  position: absolute;
  left: 110px;
  top: 1000px; }

#gpuframe92 {
  position: absolute;
  left: 210px;
  top: 1000px; }

#gpuframe93 {
  position: absolute;
  left: 310px;
  top: 1000px; }

#gpuframe94 {
  position: absolute;
  left: 410px;
  top: 1000px; }

#gpuframe95 {
  position: absolute;
  left: 510px;
  top: 1000px; }

#gpuframe96 {
  position: absolute;
  left: 610px;
  top: 1000px; }

#gpuframe97 {
  position: absolute;
  left: 710px;
  top: 1000px; }

#gpuframe98 {
  position: absolute;
  left: 810px;
  top: 1000px; }

#gpuframe99 {
  position: absolute;
  left: 910px;
  top: 1000px; }

#cpuframe00 {
  position: absolute;
  left: 10px;
  top: 1000px; }

#cpuframe01 {
  position: absolute;
  left: 110px;
  top: 1000px; }

#cpuframe02 {
  position: absolute;
  left: 210px;
  top: 1000px; }

#cpuframe03 {
  position: absolute;
  left: 310px;
  top: 1000px; }

#cpuframe04 {
  position: absolute;
  left: 410px;
  top: 1000px; }

#cpuframe05 {
  position: absolute;
  left: 510px;
  top: 1000px; }

#cpuframe06 {
  position: absolute;
  left: 610px;
  top: 1000px; }

#cpuframe07 {
  position: absolute;
  left: 710px;
  top: 1000px; }

#cpuframe08 {
  position: absolute;
  left: 810px;
  top: 1000px; }

#cpuframe09 {
  position: absolute;
  left: 910px;
  top: 1000px; }

#cpuframe10 {
  position: absolute;
  left: 10px;
  top: 900px; }

#cpuframe11 {
  position: absolute;
  left: 110px;
  top: 900px; }

#cpuframe12 {
  position: absolute;
  left: 210px;
  top: 900px; }

#cpuframe13 {
  position: absolute;
  left: 310px;
  top: 900px; }

#cpuframe14 {
  position: absolute;
  left: 410px;
  top: 900px; }

#cpuframe15 {
  position: absolute;
  left: 510px;
  top: 900px; }

#cpuframe16 {
  position: absolute;
  left: 610px;
  top: 900px; }

#cpuframe17 {
  position: absolute;
  left: 710px;
  top: 900px; }

#cpuframe18 {
  position: absolute;
  left: 810px;
  top: 900px; }

#cpuframe19 {
  position: absolute;
  left: 910px;
  top: 900px; }

#cpuframe20 {
  position: absolute;
  left: 10px;
  top: 800px; }

#cpuframe21 {
  position: absolute;
  left: 110px;
  top: 800px; }

#cpuframe22 {
  position: absolute;
  left: 210px;
  top: 800px; }

#cpuframe23 {
  position: absolute;
  left: 310px;
  top: 800px; }

#cpuframe24 {
  position: absolute;
  left: 410px;
  top: 800px; }

#cpuframe25 {
  position: absolute;
  left: 510px;
  top: 800px; }

#cpuframe26 {
  position: absolute;
  left: 610px;
  top: 800px; }

#cpuframe27 {
  position: absolute;
  left: 710px;
  top: 800px; }

#cpuframe28 {
  position: absolute;
  left: 810px;
  top: 800px; }

#cpuframe29 {
  position: absolute;
  left: 910px;
  top: 800px; }

#cpuframe30 {
  position: absolute;
  left: 10px;
  top: 700px; }

#cpuframe31 {
  position: absolute;
  left: 110px;
  top: 700px; }

#cpuframe32 {
  position: absolute;
  left: 210px;
  top: 700px; }

#cpuframe33 {
  position: absolute;
  left: 310px;
  top: 700px; }

#cpuframe34 {
  position: absolute;
  left: 410px;
  top: 700px; }

#cpuframe35 {
  position: absolute;
  left: 510px;
  top: 700px; }

#cpuframe36 {
  position: absolute;
  left: 610px;
  top: 700px; }

#cpuframe37 {
  position: absolute;
  left: 710px;
  top: 700px; }

#cpuframe38 {
  position: absolute;
  left: 810px;
  top: 700px; }

#cpuframe39 {
  position: absolute;
  left: 910px;
  top: 700px; }

#cpuframe40 {
  position: absolute;
  left: 10px;
  top: 600px; }

#cpuframe41 {
  position: absolute;
  left: 110px;
  top: 600px; }

#cpuframe42 {
  position: absolute;
  left: 210px;
  top: 600px; }

#cpuframe43 {
  position: absolute;
  left: 310px;
  top: 600px; }

#cpuframe44 {
  position: absolute;
  left: 410px;
  top: 600px; }

#cpuframe45 {
  position: absolute;
  left: 510px;
  top: 600px; }

#cpuframe46 {
  position: absolute;
  left: 610px;
  top: 600px; }

#cpuframe47 {
  position: absolute;
  left: 710px;
  top: 600px; }

#cpuframe48 {
  position: absolute;
  left: 810px;
  top: 600px; }

#cpuframe49 {
  position: absolute;
  left: 910px;
  top: 600px; }

#cpuframe50 {
  position: absolute;
  left: 10px;
  top: 500px; }

#cpuframe51 {
  position: absolute;
  left: 110px;
  top: 500px; }

#cpuframe52 {
  position: absolute;
  left: 210px;
  top: 500px; }

#cpuframe53 {
  position: absolute;
  left: 310px;
  top: 500px; }

#cpuframe54 {
  position: absolute;
  left: 410px;
  top: 500px; }

#cpuframe55 {
  position: absolute;
  left: 510px;
  top: 500px; }

#cpuframe56 {
  position: absolute;
  left: 610px;
  top: 500px; }

#cpuframe57 {
  position: absolute;
  left: 710px;
  top: 500px; }

#cpuframe58 {
  position: absolute;
  left: 810px;
  top: 500px; }

#cpuframe59 {
  position: absolute;
  left: 910px;
  top: 500px; }

#cpuframe60 {
  position: absolute;
  left: 10px;
  top: 400px; }

#cpuframe61 {
  position: absolute;
  left: 110px;
  top: 400px; }

#cpuframe62 {
  position: absolute;
  left: 210px;
  top: 400px; }

#cpuframe63 {
  position: absolute;
  left: 310px;
  top: 400px; }

#cpuframe64 {
  position: absolute;
  left: 410px;
  top: 400px; }

#cpuframe65 {
  position: absolute;
  left: 510px;
  top: 400px; }

#cpuframe66 {
  position: absolute;
  left: 610px;
  top: 400px; }

#cpuframe67 {
  position: absolute;
  left: 710px;
  top: 400px; }

#cpuframe68 {
  position: absolute;
  left: 810px;
  top: 400px; }

#cpuframe69 {
  position: absolute;
  left: 910px;
  top: 400px; }

#cpuframe70 {
  position: absolute;
  left: 10px;
  top: 300px; }

#cpuframe71 {
  position: absolute;
  left: 110px;
  top: 300px; }

#cpuframe72 {
  position: absolute;
  left: 210px;
  top: 300px; }

#cpuframe73 {
  position: absolute;
  left: 310px;
  top: 300px; }

#cpuframe74 {
  position: absolute;
  left: 410px;
  top: 300px; }

#cpuframe75 {
  position: absolute;
  left: 510px;
  top: 300px; }

#cpuframe76 {
  position: absolute;
  left: 610px;
  top: 300px; }

#cpuframe77 {
  position: absolute;
  left: 710px;
  top: 300px; }

#cpuframe78 {
  position: absolute;
  left: 810px;
  top: 300px; }

#cpuframe79 {
  position: absolute;
  left: 910px;
  top: 300px; }

#cpuframe80 {
  position: absolute;
  left: 10px;
  top: 200px; }

#cpuframe81 {
  position: absolute;
  left: 110px;
  top: 200px; }

#cpuframe82 {
  position: absolute;
  left: 210px;
  top: 200px; }

#cpuframe83 {
  position: absolute;
  left: 310px;
  top: 200px; }

#cpuframe84 {
  position: absolute;
  left: 410px;
  top: 200px; }

#cpuframe85 {
  position: absolute;
  left: 510px;
  top: 200px; }

#cpuframe86 {
  position: absolute;
  left: 610px;
  top: 200px; }

#cpuframe87 {
  position: absolute;
  left: 710px;
  top: 200px; }

#cpuframe88 {
  position: absolute;
  left: 810px;
  top: 200px; }

#cpuframe89 {
  position: absolute;
  left: 910px;
  top: 200px; }

#cpuframe90 {
  position: absolute;
  left: 10px;
  top: 100px; }

#cpuframe91 {
  position: absolute;
  left: 110px;
  top: 100px; }

#cpuframe92 {
  position: absolute;
  left: 210px;
  top: 100px; }

#cpuframe93 {
  position: absolute;
  left: 310px;
  top: 100px; }

#cpuframe94 {
  position: absolute;
  left: 410px;
  top: 100px; }

#cpuframe95 {
  position: absolute;
  left: 510px;
  top: 100px; }

#cpuframe96 {
  position: absolute;
  left: 610px;
  top: 100px; }

#cpuframe97 {
  position: absolute;
  left: 710px;
  top: 100px; }

#cpuframe98 {
  position: absolute;
  left: 810px;
  top: 100px; }

#cpuframe99 {
  position: absolute;
  left: 910px;
  top: 100px; }

/*# sourceMappingURL=styleGenerator.css.map */
